.goods-card {
  font-size: 14px;
  padding: 0 0 0 10px;
}

.goods-card .container {
  width: 100% !important;
}

.goods-card .goods-box {
  max-width: 50%;
}

.goods-card .goods {
  padding: 10px 10px 0 0;
}

.goods-card .goods .goods-content {
  border: 1px solid #dddddd;
  padding: 0 5px 0 5px;
}

.goods-card .goods .img {
  padding: 0 0 10px 0;
}

.goods-card .goods .introduction {
  padding: 0 2px 5px 0;
  font-weight: 700;
  font-size: 12px;
}

.goods-card .goods .discounts-box {
  display: flex;
  flex-wrap: wrap;
  transform: scale(0.7);
  margin: -0.75rem 0 0 -2rem;
}

.goods-card .goods .discounts-box .discounts {
  margin-top: 2px;
}

.goods-card .goods .discounts-box .discounts .font {
  color: #f70606;
  border: 0.1px solid #f70606;
  border-radius: 3px;
  margin: 5px 5px 0 0;
  padding: 0 2px 0 0px;
}

.goods-card .goods .discounts-box .discounts .vouchers {
  display: flex;
}

.goods-card .goods .discounts-box .discounts .vouchers .vouchers-title {
  background: #f70606;
  color: #fff;
  padding: 0 2px 0 2px;
}

.goods-card .goods .discounts-box .discounts .vouchers .vouchers-content {
  padding: 0 0 0 5px;
}

.goods-card .goods .price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goods-card .goods .price-box .present-price {
  color: #f70606;
  padding: 5px 0 0 0;
  font-weight: 700;
}

.goods-card .goods .price-box .original-price {
  transform: scale(0.6);
  text-decoration: line-through;
  margin: -5px 0 0 -10px;
}

.goods-card .goods .price-box .add-cart {
  padding: 10px 10px 0 0px;
}

@media screen and (min-width: 768px) {
  .goods-box {
    max-width: 203px !important;
  }
}
