.wxm-cart .header {
  background: var(--van-tabbar-background);
}

.wxm-cart .header .bar {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wxm-cart .header .bar .label__active {
  color: #f70606;
  font-size: 1.25rem;
  font-weight: 700;
}

.wxm-cart .header .bar .label__selected:active, .wxm-cart .header .bar .left .cart-btn:active, .wxm-cart .header .bar .left .frequently-bought:active, .wxm-cart .header .bar .right:active {
  color: #f70606;
  font-size: 1.25rem;
  font-weight: 700;
}

.wxm-cart .header .bar .label__selected:hover, .wxm-cart .header .bar .left .cart-btn:hover, .wxm-cart .header .bar .left .frequently-bought:hover, .wxm-cart .header .bar .right:hover {
  color: #f70606;
  font-size: 1.25rem;
  font-weight: 700;
}

.wxm-cart .header .bar .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.wxm-cart .header .bar .left .frequently-bought {
  margin: 0 1rem;
}

.wxm-cart .header .bar .right span {
  font-weight: 700;
}

.wxm-cart .header .body {
  padding: 0 1rem 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.wxm-cart .header .body .address {
  font-size: 0.75rem;
  line-height: 1;
}

.wxm-cart .header .search .search-goods-list {
  color: red;
}

.wxm-cart .cart-goods-list .list-box {
  border-bottom: 1px dotted #a2c2db;
  color: #0484e9;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
}
