.cart-parabola{
    .ball-container{/* 这里是外层的盒子做水平运动 */
        .horizontal-box{
            position: fixed;
            left: 25px;
            bottom: 20px;
            z-index: 100;
            transition: 0.4s all linear;
            .ball{
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #47b34f;
                /* 小球本身做加速运动 通过贝塞尔来模拟 */
                // transition: 0.4s all cubic-bezier(0.49, -0.29, 0.75, 0.41);
                // transition: 0.4s all cubic-bezier(.55,.07,.92,.37);
                // transition: 0.4s all cubic-bezier(.55,.07,.79,.41);
                // transition: 0.4s all cubic-bezier(.64,.29,.96,.94) reverse;
                // transition: 0.4s all cubic-bezier(.64,.29,.96,.94);
                transition: 0.4s all cubic-bezier(.66,.13,.96,.72);
            }
        }
    }
}