.wxm-categorize .body {
  font-size: 0.75rem;
  display: flex;
}

.wxm-categorize .body .left {
  width: auto;
}

.wxm-categorize .body .left .ht {
  height: 100%;
}

.wxm-categorize .body .left .o-y-flow {
  overflow-y: auto;
}

.wxm-categorize .body .right {
  flex: 1;
}

.wxm-categorize .body .right .title {
  padding: 1rem;
}

.wxm-categorize .body .right .content .card {
  line-height: 1;
}

.wxm-categorize .body .right .content .price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wxm-categorize .body .right .content .price-box .present-price {
  color: #f70606;
  padding: 5px 0 0 0;
  font-weight: 700;
}

.wxm-categorize .body .right .discounts-box {
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
}

.wxm-categorize .body .right .discounts-box .discounts {
  margin-top: 2px;
}

.wxm-categorize .body .right .discounts-box .discounts .font {
  color: #f70606;
  border: 0.1px solid #f70606;
  border-radius: 3px;
  margin: 5px 5px 0 0;
  padding: 0 2px 0 0px;
}

.wxm-categorize .body .right .discounts-box .discounts .vouchers {
  display: flex;
}

.wxm-categorize .body .right .discounts-box .discounts .vouchers .vouchers-title {
  background: #f70606;
  color: #fff;
  padding: 0 2px 0 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wxm-categorize .body .right .discounts-box .discounts .vouchers .vouchers-content {
  padding: 0 0 0 5px;
}
